{% extends "alertsystem/base.html" %}
{% block content %}
    {% load static %}
    <body>
    <div class="ui center aligned container">
        <div class="ui center aligned grid">
            <div class="four wide column">
                <div class="ui card">
                    <img class="ui fluid image" src="{% static image %}">
                </div>
            </div>
            <div class="six wide column">
                <div class="ui centered text container segment">
                    <div class="ui centered red header">
                        This is a {{ message_type }} alert <br>
                        If you would like to send this alert, type
                        <p class="ui blue header">{{ send_text }}</p> and click Submit <br>
                    </div>
                    <form class="ui form" method="post">
                        {% csrf_token %}
                        <div class="field">
                            {{ form }}
                            <input class="ui massive fluid inverted primary button" type="submit" value="Submit" style="margin: 3em 0 0 0">
                        </div>
                    </form>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui card">
                    <img class="ui fluid image" src="{% static image %}">
                </div>
            </div>
        </div>
        <a class="massive ui fluid inverted negative button" style="margin: 3em 0 0 0" href="{% url parent_url %}">Go Back</a>
    </div>
    </body>
{% endblock %}