{% extends "alertsystem/base.html" %}
{% block content %}
    {% load static %}
    <body>
    <div class="ui center aligned container">
        {#  <h1 style="font-size: 8em">Hawaii EMS</h1>#}
        <div class="ui two item menu" style="margin-top: 1em">
            <a class="item">
                <div class="ui huge header">REAL</div>
            </a>
            <a class="item">
                <div class="ui huge header">TEST</div>
            </a>
        </div>
        <div class="ui grid" style="margin-top: 1em">
            <div class="eight wide column">
                <a class="ui special centered link card" href="/">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Select Real Threat</div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static "alertsystem/missile.png" %}">
                    </div>
                    <div class="content">
                        <div class="header">Missile Threat</div>
                        <div class="header">REAL</div>
                    </div>
                </a>
            </div>
            <div class="eight wide column">
                <a class="ui special centered link card" href="/">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Select Test Threat</div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static "alertsystem/testMissile.png" %}">
                    </div>
                    <div class="content">
                        <div class="header">Missile Threat</div>
                        <div class="header">TEST</div>
                    </div>
                </a>
            </div>
        </div>
        <a class="massive ui negative button" href="{% url "alertsystem:index" %}">Cancel</a>
    </div>
    </body>
{% endblock %}