{% extends "alertsystem/base.html" %}
{% block content %}
    {% load static %}
    <body>
    <div class="ui center aligned container">
        {#  <h1 style="font-size: 8em">Hawaii EMS</h1>#}
        <div class="ui grid" style="margin-top: 1em">
            <div class="four wide column">
                <a class="ui special link card" href="/">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Select Threat</div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static "alertsystem/amber_alert.png" %}">
                    </div>
                    <div class="content">
                        <div class="header">Amber Alert</div>
                    </div>
                </a>
            </div>
            <div class="four wide column">
                <a class="ui special link card" href="/">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Select Threat</div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static "alertsystem/tsunami.png" %}">
                    </div>
                    <div class="content">
                        <div class="header">Natural Threat</div>
                    </div>
                </a>
            </div>
            <div class="four wide column">
                <a class="ui special link card" href="{% url "alertsystem:foreign" %}">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Select Threat</div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static "alertsystem/missile.png" %}">
                    </div>
                    <div class="content">
                        <div class="header">Foreign Threat</div>
                    </div>
                </a>
            </div>
            <div class="four wide column">
                <a class="ui special link card" href="/">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Cancel Alerts</div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static "alertsystem/cancel.png" %}">
                    </div>
                    <div class="content">
                        <div class="header">Cancel Alerts</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </body>

{% endblock %}