{% extends "alertsystem/base.html" %}
{% block content %}
    {% load static %}
    <body>
    <div class="ui center aligned container">
        <div class="ui two item menu" style="margin-top: 1em">
            <a class="item">
                <div class="ui huge header">REAL</div>
            </a>
            <a class="item">
                <div class="ui huge header">TEST</div>
            </a>
        </div>
        <div class="ui grid" style="margin-top: 1em">
            <div class="eight wide column">
                <a class="ui special centered link card" href="{% url real_url %}">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Select Real Threat</div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static real_image %}">
                    </div>
                    <div class="content">
                        <div class="header">{{ title }}</div>
                        <div class="header">REAL</div>
                    </div>
                </a>
            </div>
            <div class="eight wide column">
                <a class="ui special centered link card" href="{% url test_url %}">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Select Test Threat</div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static test_image %}">
                    </div>
                    <div class="content">
                        <div class="header">{{ title }}</div>
                        <div class="header">TEST</div>
                    </div>
                </a>
            </div>
        </div>
        <a class="massive ui fluid inverted negative button" href="{% url parent_url %}" style="margin-top: 1em">Go Back</a>
    </div>
    </body>
{% endblock %}