{% extends "alertsystem/base.html" %}
{% block content %}
    {% load static %}
    <body>
    <div class="ui center aligned container">
        <div class="ui center aligned grid">
            <div class="five wide column">
                <img class="ui confirmation fluid bordered circular image" src="{% static "alertsystem/testMissile.png" %}">
            </div>
            <div class="six wide column">
                <div class="ui raised text container segment">
                    <div class="ui centered red header">
                        This is a test message. <br>
                        If you would like to send this message, type "{{ send_text }}" and click Submit <br>
                    </div>
                    <form class="ui form" method="post">
                        {% csrf_token %}
                        <div class="field">
                            {{ validation_form }}
                            <input class="ui massive fluid inverted primary button" type="submit" value="Submit" style="margin: 3em 0 0 0">
                        </div>
                    </form>
                </div>
            </div>
            <div class="five wide column">
                <img class="ui fluid circular image" src="{% static "alertsystem/testMissile.png" %}">
            </div>
        </div>
        <a class="massive ui fluid inverted negative button" style="margin: 3em 0 0 0" href="{% url "alertsystem:foreign" %}">Go Back</a>
    </div>
    </body>
{% endblock %}